h1{
    text-align: center;
    border: 3px solid black;
    background-color: lightblue;
    padding:5rem;
    border-radius: 2rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 90vh;
}